*{
    text-align: center;
    background-color: tan;
    color: blue;
    font-family: sans-serif;
}

#scoreboard{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.btns{
    display: flex;
    justify-content: space-around;
}

#throwNotice{
    display: flex;
    flex-direction: column;
    
}

.btn{
    background-color: purple;
    color: tan;    
}

#userNotice, #compNotice, #result, #name, #round, #userScoreE, #compScoreE{
    color: purple;
}